.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: white;
    color: black;
    padding: 0.2rem 1rem;
    display: flex;
    justify-content:end;
    align-items:flex-end;
    border-radius: 25px;
    font-weight: bold;

  }
  
  .button:hover,
  .button:active {
    background-color: greenyellow;
  }